.border {
    border-width: 2px;
    border-color: grey;
    border-style: solid;
}

.richTextSpan a {
    text-decoration: underline;
}

.richTextSpan img {
    vertical-align: middle;
}
