body{

	background-color: #c1d166;
   background:#ffffe0; 
   font-family: 'Gloria Hallelujah';  
   line-height: 21px; 
   color: #ffffff; 
   font-size: 15px;

}

.ustAlan { height: 300px; width:800px;
 line-height:50px; 
 background:url(images/bird.png); 
 color:#ffffff;
 margin-left: auto;
 margin-right: auto;
}

.text {text-align: center; 
	padding: 100px; font-size: 30px;
	line-height: 150px;}

input,
button,
div.searchContainer{
	position: relative;
  	text-align: center;
	
	
	margin:8px 0;
	
	padding: 8px;
	
	transition:.3s; 
}
div.searchContainer input[type=text]{
	position: relative;
  	text-align: center;
	width:70%;
	border:2px solid #aaa;
	margin:8px 0;
	outline:none;
	padding: 8px;
	box-sizing: border-box;
	transition:.3s;
	border-radius: 50px 50px 50px 50px;


}
div.searchContainer input[type=text]:focus{
	border-color: #1c6071;
	box-shadow:  0 0 8px 0 #1c6071;

}
div.js-container{
	word-wrap: break-word;
	float:left;
	background-color: #ff4500;
	position: relative;
  	text-align: center;
  	vertical-align: center;
	width:370px;
	height: 300px;
	border:2px solid #aaa;
	margin:5px;
	align-items: center;
	outline:none;
	padding: 8px 8px 8px 8px;
	box-sizing: border-box;
	transition:.3s;
	font-family: 'Gloria Hallelujah';
    
   border: none;
   border-radius: 22px;

background-position: 50% 50%;
-webkit-background-origin: padding-box;
background-origin: padding-box;
-webkit-background-clip: border-box;
background-clip: border-box;
-webkit-background-size: auto auto;
background-size: auto auto;

}

.js-container .js-user{
	position: relative;
	width: 50%;
	border-radius: 4px;
	margin: 8px 0;
	outline:none;
	padding: 8px;
	box-sizing: border-box;
	font-weight: bold;
}

.js-container .meta{
	text-align: left;
	position: absolute; 
	left: 30px;
	bottom: 10px;

}


.js-container .js-like-count:before {
content: "likes:";
}
.js-container .js-rt-count:before {
content: "retweets:";
}

.js-steal-tweet {
  
  background: #ffe7ba;
  font-family: 'Gloria Hallelujah';
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  transform: translateX(75px);
  margin-top: 1px;
  right:30;
  bottom:0;
  border: 0;
  border-radius: 20px;
  position:absolute;
  cursor: pointer;
}

.js-steal-tweet:hover {
   background: #1c6071;
   color: #ffffff;
  text-decoration: none;

}

#tweetsContainer {     
	display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center; }