html,
body {
    min-height: 100vh;
    height: 100%;
    font-family: "SF UI Text", system-ui, sans-serif;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

#root {
    height: 100%;
}

.App {
    height: 100vh;
}

.textAlignCenter {
    text-align: center;
}
